<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.valac.viajerosligeros">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/viajeros_lijeros_light"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/viajeros_lijeros_light"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Autobus"></activity>
        <activity
            android:name=".RegistroViaje"
            android:label="@string/registro_destino_label_android"
            android:parentActivityName=".MisViajes" />
        <activity
            android:name=".RegistroViajeros"
            android:label="@string/registro_viajeros_label_android" />
        <activity android:name=".MisViajes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>